.connexion-title-blue {
    background-color: #0075a1;
    padding: 15px;
    color: white;
}
  .required-field {
    color: red;
}
  .connexion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .connexion-inputs {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* margin: auto; */
}
  .connexion-box {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
  .connexion-btn {
    background-color: #0075a1;
    color: white;
    padding: 0px 25px;
    border-radius: 25px;
    height: 25px;
    border: none;
}