.connexion-title-blue {
  background-color: #0075a1;
  padding: 15px;
  color: white;
  text-align: center;
}
.required-field {
  color: red;
}
.connexion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion-inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.connexion-box {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.login-btn {
  background-color: #0075a1;
  color: white;
  padding: 0px 25px;
  border-radius: 25px;
  height: 25px;
  border: none;
}
.login-submit {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.forget-pass-link {
  color: #0075a1;
  font-style: italic;
  font-size: 12px;
  text-decoration: none;
}

/* css de loulou */

.ticket-nav {
  margin-top: -4px;
  height: 4vh;
  background-color: #0075a1;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
