.footer {
  display: flex;
  justify-content: space space-evenly;
  background-color: black;
  width: 1255px;
  height: 280px;
  top: 14.4rem;
  position: relative;
}

.sncfConnect {
  top: 13rem;
  left: 40rem;
  position: absolute;
}
.sncfConnect a {
  color: white;
}

.logoSncf {
  margin-left: 25rem;
  margin-top: 7rem;
  position: absolute;
}

.logoSncf img {
  width: 5rem;
}
