.blocFooter {
  display: flex;
  width: 100%;
}

.footer {
  /* display: flex; */
  background-color: black;
  /* width: 209.8vh; */
  width: 100%;
  height: 50vh;
  top: 493.5vh;
  left: 0vh;
  position: absolute;
}

/* .sncfConnect {
}
.sncfConnect a {
  color: white;
}

.logoSncf {
}

.logoSncf img {
} */
