.blocFooter {
  display: flex;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  /* width: 209.8vh; */
  width: 100%;
  height: 50.2vh;
  top: 425.5vh;
  left: 0vh;
  /* position: absolute; */
}

.sncfConnect {
  margin-top: 20vh;
  margin-left: 130vh;
  margin-bottom: 10vh;
}
.sncfConnect a {
  color: white;
}

.logoSncf {
  margin-left: 50vh;
}

/* .logoSncf img {
} */

@media screen and (max-width: 373px) {
  .blocFooter {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    /* width: 209.8vh; */
    width: 100%;
    height: 30vh;
    top: 425.5vh;
    left: 0vh;
    /* position: absolute; */
  }
  .sncfConnect {
    margin-top: 15vh;
    margin-left: 21.5vh;
    margin-bottom: 1vh;
  }
  .sncfConnect a {
    color: white;
  }

  .logoSncf {
    margin-top: 5vh;
    margin-left: 3vh;
  }
}
