.container-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 50px;
}

.site-plan {
  align-self: center;
}

.site-plan a,
.site-plan h5 {
  display: block;
  color: white;
  padding: 5px;
}

.container-image-footer {
  width: 80px;
  justify-self: center;
  align-self: center;
}

.container-image-footer img {
  width: 100%;
}

.container-ext {
  justify-self: right;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.container-ext a {
  padding: 5px;
  color: white;
}

@media screen and (max-width: 800px) {
  .site-plan {
    display: none;
  }
  .container-footer {
    display: flex;
    justify-content: space-around;
  }
  .container-image-footer{
    margin-right: 30px;
  }
}
