.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1255px;
  height: 75px;
  position: fixed;
  z-index: 5;
  top: 0rem;
}

.inoui {
  margin-left: 45%;
  margin-top: 0.32rem;
}

.inoui img {
  height: 64px;
  width: 113px;
}

.connect {
  margin-left: 23rem;
}

.connect img {
  height: 33px;
  width: 30px;
  position: fixed;
  z-index: 2;
  top: 1.22rem;
}
.panier {
  margin-top: 1.20rem;
  margin-right: 2.7rem;
 
}
.panier img {
  height: 35px;
  width: 30px;
}