/* @media screen and (max-width: 390px) {
  .navbarUl {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: none;
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 2vh;
    top: 19vh;
    left: 0vh;
  }
  .navbarUl2 {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: none;
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 2vh;
    top: 24vh;
    left: 0vh;
  }

  li a {
    font-size: 2vh;
    list-style-type: none;
    text-decoration: none;
    color: white;
    background-color: #0075a1;
    border-radius: 5px;
    padding: 1vh;
  }
  li a:active {
    color: white;
  
    background-color: #f4e9dc;
  }*/
  /* li a:hover {
    color: #0075a1;
    background-color: white;
  } */
  /* li {
    background-color: none;
    */
