ul.navbar-ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #0075a1;
  list-style-type: none;
  position: fixed;
  z-index: 7;
  width: 100%;
  height: 5.2vh;
  top: 44vh;
  left: 0vh;
}

li a {
  font-size: 4.44vh;
  list-style-type: none;
  text-decoration: none;
  color: #0075a1;
  background-color: #f4e9dc;
}
a:active {
  color: white;
  background-color: #0075a1;
}
/* li {
  background-color: none;
  
} */
