ul.navbar-ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #5579e5;
  list-style-type: none;
  position: fixed;
  z-index: 7;
  width: 1215px;
  top: 16rem;
}

li a {
  list-style-type: none;
  text-decoration: none;
  color: #0075a1;
  background-color: #f4e9dc;
}
a:active {
  color: white;
  background-color: #0075a1;
}
li {
  background-color: none;
}
