.leon {
  background-color: #f4e9dc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid rgb(88, 25, 198);
  position: relative;
  top: 14.4rem;
  width: 1251px;
  height: 2530px;
}

@media screen and (max-width: 373px) {
  .leon {
    height: 2800px;
  }
}
