img {
  width: 180px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 410px;
  margin: 50px;
}

.listCat {
  display: flex;
  justify-content: center;
}

.listPrice {
  display: flex;
  width: 180px;
  height: 184.75px;
  margin: auto;
  border: 2px solid rgb(200, 6, 6);
}

.listUn {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 5px;
}

.listUn img {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.price {
  display: flex;
  justify-content: space-around;
  font-size: 140%;
  font-weight: bolder;
  color: #0075A1;
}

h2 {
  display: flex;
  justify-content: center;
  color: #0075A1;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: auto;
  font-size: small;
}
h3{
    text-align: center;
}
.decrip {
  display: flex;
  justify-content: center;
  width: 180px;
  margin: auto;
  text-align: center;
}
