.box-container-shoplist {
  margin: 30px;
}

.container-shoplist-element {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: auto;
  width: 70%;
  height: 81px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.shoplist-name {
  grid-column: 2/4;
  text-align: center;
  justify-self: left;
  align-self: center;
}

.shoplist-description {
  grid-column: 4/7;
  text-align: center;
  justify-self: left;
  align-self: center;
  text-align: left;
}
.shoplist-image {
  grid-template-columns: 1 / 2;
  align-self: center;
  justify-self: left;
  height: 100%;
}

.shoplist-image img {
  border-radius: 4px;
  height: 79px;
  width: 100px;
}

.shoplist-price {
  grid-column: 7 /8;
  justify-self: center;
  align-self: center;
}

.container-quantity, .shoplist-amount {
  grid-column: 8 /9;
  align-self: center;
  justify-self: center;
}



.show-quantity {
  text-align: center;
  width: 2vw;
  border: none;
}

.ajust-quantity {
  text-align: center;
  padding: 1px;
  width: 20px;
  background-color: #0075a1;
  border: #0075a1 1px solid;
  border-radius: 3px;
  color: white;
}

.delete-ico {
  align-self: center;
}

.button-delete {
  cursor: pointer;
  border: none;
  background-color: white;
}
