.subscribe-title {
  background-color: #980c35;
  padding: 15px;
  color: white;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-inputs {
  text-align: center;
}
.input-box {
  border-radius: 5px;
}
.subscribe-btn {
  color: #0075a1;
  padding: 5px;
  border-radius: 5px;
}
