* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-title {
  color: #0075a1;
  font-size: 32px;
}
.profile-container {
  display: flex;
  justify-content: space-between;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.avatar {
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
}
.avatar-btn {
  background-color: #0075a1;
  color: white;
  padding: 0px 25px;
  border-radius: 25px;
  height: 25px;
  border: none;
  width: 30vh;
}
.user-input-box {
  width: 70%;
  padding-left: 20px;
}
.change-info-btn {
  padding: 5px;
  width: 40%;
  text-align: center;
}
.change-info-btn:hover {
  background-color: #0075a1;
}
.user-input,
.user-label {
  display: flex;
  justify-content: left;
  font-size: 14px;
}
.user-label {
  font-weight: 600;
}
