* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* TOP */
.profile-title {
  color: #0075a1;
  font-size: 32px;
  margin: 10vh 20vh;
}
/*FULL*/
.profile-container {
  display: flex;
  /* border: 3px solid red; */
  justify-content: center;
}
.avatar-btn,
.change-info-btn,
.delete-account-btn {
  cursor: pointer;
}
/*LEFTSIDE*/
.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  /* background-color: blue; */
}
.avatar {
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
  width: 50%;
}
.avatar-btn {
  background-color: #0075a1;
  color: white;
  margin-top: 30px;
  padding: 0px 25px;
  border-radius: 25px;
  height: 25px;
  border: none;
  width: 50%;
  height: auto;
  min-height: 30px;
}
/*RIGTHSIDE*/
.user-input-box {
  width: 50%;
  padding-left: 20vh;
  /* background-color: green; */
}
.change-info-btn,
.delete-account-btn {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 40%;
  border: none;
  background-color: white;
  text-align: left;
}
.delete-account-btn {
  margin-top: 15px;
}
.change-info-btn {
  margin-bottom: 15px;
}
.delete-account-btn:hover {
  background-color: #980c35;
  color: white;
}
.change-info-btn:hover {
  background-color: #0075a1;
  color: white;
}
.user-input,
.user-label {
  display: flex;
  justify-content: left;
  font-size: 16px;
}
.user-label {
  font-weight: 600;
}

.upload-button {
  display: none;
}

.label-button-upload {
  cursor: pointer;
  text-align: center;
  background-color: #0075a1;
  color: white;
  padding: 7px;
  border-radius: 20px;
  margin-top: 30px;
  width: 150px;
}
