* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-title {
  color: #0075a1;
  font-size: 32px;
  margin: 10vh 20vh;
}
.profile-container {
  display: flex;
  /* border: 3px solid red; */
  justify-content: center;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* background-color: blue; */
}
.avatar {
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
}
.avatar-btn {
  background-color: #0075a1;
  color: white;
  padding: 0px 25px;
  border-radius: 25px;
  height: 25px;
  border: none;
  width: 30vh;
}

.user-input-box {
  width: 50%;
  padding-left: 20vh;
  /* background-color: green; */
}
.change-info-btn {
  padding: 5px;
  width: 45%;
  border: none;
  background-color: white;
  text-align: center;
  margin-bottom: 15px;
}
.change-info-btn:hover {
  background-color: #0075a1;
}
.user-input,
.user-label {
  display: flex;
  justify-content: left;
  font-size: 14px;
}
.user-label {
  font-weight: 600;
}
