body {
  margin: 0%;
}
.containerHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 450.2vh;
  background-color: #f4e9dc;
}

.navBarHome {
  width: 100%;
  margin-top: 0vh;
}

.productListHome {
  width: 100%;
}

.footerHome {
  display: flex;
  width: 100%;
  height: 100px;
}

.formules {
  display: flex;
  flex-direction: column;
}

.formules .art {
  /*pour modifier les cartes*/
  display: flex;
  justify-content: flex-start;
  margin-top: 24.8vh;
  color: #0075a1;
}

.productListHome h2 {
  margin-left: 6.5vh;
  font-size: 190%;
  color: #0075a1;
}
@media screen and (max-width: 373px) {
  .containerHome {
    height: 351vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f4e9dc;
  }

  .productListHome {
    width: 100%;
    font-size: 70%;
  }
  .productListHome h2 {
    margin-bottom: 1vh;
  }
  .footerHome {
    display: flex;
    width: 100%;
    height: 100px;
  }
  .formules {
    display: flex;
  }
  .formules .art {
    /*pour modifier les cartes*/
    display: flex;
    justify-content: flex-start;
    margin-top: 28.8vh;
    color: #0075a1;
  }
}
