.logo-inoui img {
  align-self: center;
  width: 200px;
}

.container-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.logo-inoui {
  grid-column: 6/8;
  justify-self: center;
}

.ban-picture {
  width: 100%;
}

.ban-picture img {
  width: 100%;
}

.logo-user,
.logo-disconnect {
  grid-column: 10/12;
  align-self: center;
  justify-self: right;
}

.logo-panier {
  display: flex;
  padding-bottom: 5px;
  grid-template-rows: 1/2;
  align-self: center;
  justify-self: left;
}
.logo-panier img,
.logo-user img,
.disconnect-btn {
  width: 60%;
}

.amount-order {
  color: #980c35;
  margin-left: -25px;
  font-weight: bold;
}

.filter-nav {
  margin-top: -4px;
  height: 6vh;
  background-color: #0075a1;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-nav button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.category-product {
  margin: 50px;

  font-size: 32px;
  color: #0075a1;
}

.container-all-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 50px 30px;
}
.container-element {
  justify-self: center;
  max-width: 350px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: auto;
}

.picture {
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.product-name {
  color: black;
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
  font-size: 20px;
}

.product-price {
  text-align: center;
  margin: 20px;
  color: #0075a1;
  font-weight: bold;
  font-size: 20px;
}

.product-description {
  color: black;
  padding-bottom: 30px;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .container-all-product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .container-all-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
